@using Digitime.Shared.Contracts.Projects;
@using Digitime.Shared.UI.Components.Common
@using Digitime.Shared.UI.Components.Dashboard
@using Digitime.Shared.UI.Components.Projects
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.JSInterop;

<div class="my-12">

    <div class="relative grid grid-cols-1 gap-x-14 lg:gap-x-36 md:grid-cols-2">
        <section class="text-center">
            <div class="flex">
                <button type="button" class="flex-none items-center justify-center p-1.5 text-gray-400 hover:text-gray-500">
                    <span class="sr-only">Previous month</span>
                    <!-- Heroicon name: mini/chevron-left -->
                    <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" />
                    </svg>
                </button>
                <h3 class="grow font-semibold text-gray-900">@FirstCharToUpperAsSpan(DateTime.Now.ToString("MMMM"))</h3>
                <button type="button" class="flex-none items-center justify-center p-1.5 text-gray-400 hover:text-gray-500">
                    <span class="sr-only">Next month</span>
                    <!-- Heroicon name: mini/chevron-right -->
                    <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                    </svg>
                </button>
            </div>

            <div class="mt-6 grid grid-cols-7 text-xs leading-6 text-gray-500">
                <div>M</div>
                <div>T</div>
                <div>W</div>
                <div>T</div>
                <div>F</div>
                <div>S</div>
                <div>S</div>
            </div>
            <div class="isolate mt-2 lg:h-96 grid grid-cols-7 gap-px rounded-lg bg-gray-200 text-sm ring-1 ring-gray-200">
                <!--
                  Always include: "py-1.5 hover:bg-gray-100 focus:z-10"
                  Is current month, include: "bg-white text-gray-900"
                  Is not current month, include: "bg-gray-50 text-gray-400"

                  Top left day, include: "rounded-tl-lg"
                  Top right day, include: "rounded-tr-lg"
                  Bottom left day, include: "rounded-bl-lg"
                  Bottom right day, include: "rounded-br-lg"
                -->
                @*<button type="button" class="relative rounded-tl-lg bg-gray-50 py-1.5 text-gray-400 hover:bg-gray-100 focus:z-10">
                <!--
                Always include: "mx-auto flex h-7 w-7 items-center justify-center rounded-full"
                Is today, include: "bg-indigo-600 font-semibold text-white"
                -->
                <time datetime="2021-12-27" class="mx-auto flex h-7 w-7 items-center justify-center rounded-full">27</time>
                </button>
                <button type="button" class="relative bg-gray-50 py-1.5 text-gray-400 hover:bg-gray-100 focus:z-10">
                <time datetime="2021-12-28" class="mx-auto flex h-7 w-7 items-center justify-center rounded-full">28</time>
                </button>*@
                @foreach (var day in CurrentMonthCalendarDays?.CalendarDays)
                {
                    <button type="button"
                        @onclick="async () => await OnDayClick(day)"
                            class="dayButton @(day is null ? "bg-gray-50 text-gray-400" : day.IsPublicHoliday ? "bg-yellow text-yellow-900" : "bg-white text-gray-400")
                           py-1.5 hover:bg-gray-100 focus:z-10">
                        <time datetime="@day?.Date.ToShortDateString()"
                              class="@(day != null && day.IsWorked ? "font-bold text-black" : "" )
                      @(day != null && day.Date == SelectedDate.Date ? "bg-indigo-600 text-white" : "")
                      mx-auto flex h-7 w-7 items-center justify-center rounded-full">
                            @day?.Date.Day
                        </time>
                    </button>
                }
            </div>
        </section>

        <section class="text-center md:block mt-12 md:mt-0">
            <div class="flex">
                <h3 class="font-semibold grow text-left text-xl text-gray-900">@FirstCharToUpperAsSpan(SelectedDate.Date.ToString("dddd d"))</h3>
                <button type="button" @onclick="AddWorktime" id="bt-addworktime" class="inline-flex py-1.5 px-3 items-center rounded-md border border-transparent text-sm font-medium text-gray-800 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-200 focus:ring-offset-2">
                    <!-- Heroicon name: mini/plus -->
                    <svg class="-ml-1 mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
                    </svg>
                    Add worktime
                </button>
            </div>
            <div class="mt-14 isolate lg:h-96 rounded-lg">

                @if ((CurrentDayTimesheetEntries != null && CurrentDayTimesheetEntries.Any()))
                {
                    foreach (var entry in CurrentDayTimesheetEntries)
                    {
                        <ProjectRowComponent Name="@entry.Project.Title" ProjectName="@entry.Project.Code" WorkspaceName="ELIA GROUP" Status="Pending" Hours="@entry.Hours" Code="EP-000-687-GH-FFRTY" />
                    }
                    @if (IsFormVisible)
                    {
                        <EditableProjectRowComponent ProjectList="@ProjectList" OnAddedTimesheetEntry="OnAddedWorkTime" IsFormVisible="@IsFormVisible" />
                    }
                }
                else
                {
                    @if (IsFormVisible)
                    {
                        <EditableProjectRowComponent ProjectList="@ProjectList" OnAddedTimesheetEntry="OnAddedWorkTime" IsFormVisible="@IsFormVisible" />
                    }
                    else
                    {
                        <WorkerEmptyStateComponent />
                    }
                }
            </div>
        </section>
    </div>

    @if (ProjectList is not null && ProjectList!.Any())
    {
        <div class="mt-16">
            <div class="flex">
                <h2 class="flex-none grow max-w-6xl text-lg font-medium leading-6 text-gray-900">Projects</h2>
                <button type="button" @onclick="ViewAllProjects" class="inline-flex py-1.5 px-3 items-center rounded-md text-sm font-medium text-gray-800 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-200 focus:ring-offset-2">
                    View all
                    <!-- Heroicon name: mini/chevron-right -->
                    <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                    </svg>
                </button>
            </div>
            <div>
                <h2 class="text-sm font-normal text-gray-500 mb-6">Projects you are involved in.</h2>
                <ProjectList Projects="@ProjectList.Take(3).ToList()" />
            </div>
        </div>
    }
</div>

@*<div class="border-b border-gray-200 bg-white px-4 py-5 sm:px-6">
    <div class="-ml-4 -mt-2 flex flex-wrap items-center justify-between sm:flex-nowrap">
        <div class="ml-4 mt-2">
            <div class="flex">
                <svg class="self-center mr-1.5 h-5 w-5 flex-shrink-0 text-indigo-900" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M5.75 2a.75.75 0 01.75.75V4h7V2.75a.75.75 0 011.5 0V4h.25A2.75 2.75 0 0118 6.75v8.5A2.75 2.75 0 0115.25 18H4.75A2.75 2.75 0 012 15.25v-8.5A2.75 2.75 0 014.75 4H5V2.75A.75.75 0 015.75 2zm-1 5.5c-.69 0-1.25.56-1.25 1.25v6.5c0 .69.56 1.25 1.25 1.25h10.5c.69 0 1.25-.56 1.25-1.25v-6.5c0-.69-.56-1.25-1.25-1.25H4.75z" clip-rule="evenodd" />
                </svg>
                <h1 class="text-xl font-semibold text-indigo-900">@FirstCharToUpperAsSpan(SelectedDate.Date.ToString("MMMM dd"))</h1>
            </div>
            <p class="mt-2 text-sm text-gray-700 flex text-base">
                Your timesheet for this day.
            </p>
        </div>

        <div class="flex justify-end ...">
            <div class="ml-4 mt-2 flex-shrink-0">
                <button type="button" class="relative inline-flex items-center rounded-md border border-gray-300 px-2 py-2 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-gray-300">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
                    </svg>
                </button>
            </div>
            <div class="ml-4 mt-2 flex-shrink-0">
                <button type="button" class="relative inline-flex items-center rounded-md border border-gray-300 px-2 py-2 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-gray-300">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3" />
                    </svg>
                </button>
            </div>
            <div class="ml-4 mt-2 flex-shrink-0">
                <button type="button" class="relative inline-flex items-center rounded-md border border-transparent bg-indigo-600 pl-2 pr-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                    </svg>
                    Add time
                </button>
            </div>
        </div>

    </div>
</div>*@

@*<div>
    @if (CurrentDayTimesheetEntries != null && CurrentDayTimesheetEntries.Any())
    {
        foreach (var entry in CurrentDayTimesheetEntries)
        {
            <ProjectRowComponent Name="@entry.Project.Title" ProjectName="@entry.Project.Code" WorkspaceName="ELIA GROUP" Status="Pending" Hours="@entry.Hours" Code="EP-000-687-GH-FFRTY" />
        }
    }
    else
    {
        <WorkerEmptyStateComponent />
    }
</div>


*@